<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Da Hood - Insignes </title>
    <link rel="sortcut icon" href="../assets/image/icon2.png">
    <link rel="stylesheet" href="../assets/css/style-baseball.css">
</head>

<body>
    <header>
        <div class="header">
            <i class="fa-solid fa-bars" style="color: #d9d9d9;"></i>
        </div>

        <div class="my-side-nav">
            <i class="fa-solid fa-xmark close" style="color: #D9D9D9;"></i>
            <ul>
                <li><a href="../index.html"><i class="fa-solid fa-house house-nav" style="color: #0665FF;"></i>
                        Accueil</a></li>
                <li><a href="index-notice.html"><i class="fa-solid fa-book-open book-nav" style="color: #0665FF;"></i>
                        Notice
                    </a></li>
                <li><a href="index-notice.html"><i class="fa-solid fa-a a-nav" style="color: #0665FF;"></i>Lexique</a>
                </li>
                <li><a href="insignes.html"><i class="fa-solid fa-circle-info info-nav" style="color: #0665FF;"></i>
                        Insignes </a>
                </li>
                <li><a href="graffitis.html"><i class="fa-solid fa-spray-can spray-nav" style="color: #0665FF;"></i>
                        Graffitis </a>
                </li>
                <li><a href="baseball-affil.html"><i class="fa-solid fa-baseball-bat-ball" style="color: #0665FF;"></i>Baseball Affil</a>
                </li>
                <li><a href="credits.html"><i class="fa-regular fa-copyright copyright-nav" style="color: #0665FF;"></i>
                        Credits
                    </a></li>
                <li><a href="#" class="random"><i class="fa-solid fa-dice-five dice-nav"
                            style="color: #0665FF;"></i>Page Aléatoire</a>
                </li>
            </ul>
            <div class="language">
                <li><a href="#"><img src="../assets/image/france-flag-round-shape-free-png.webp" alt="drapeau francais"
                            class="french-flag"></a></li>
                <li><a href="#"><img src="../assets/image/united-states-flag-round-icon-american-flag-png.webp"
                            alt="drapeau usa" class="usa-flag"></a></li>
            </div>
        </div>
    </header>

    <main>
        <div class="insignes-contain">
            <h1 class="da-hood-title">Da Hood Guide</h1>
            <div class="mentalite-contain">
                <h3 class="title-section"> baseball affiliations </h3>
                <div class="text-insignes">
                    <p class="intro">
                        Depuis l'avènement des gangs de rue, les membres des gangs ont trouvé un moyen de se présenter rapidement dans une foule. Au début, les gangs ont cherché des solutions plus évidentes, comme un certain type de vêtement ou de tatouage que leurs alliés et leurs ennemis pourraient facilement reconnaître. Cependant, il est vite apparu que ces accessoires pouvaient les rendre vulnérables aux forces de l'ordre. 
                        <br>
                        Voici un aperçu des
                        principales équipes de baseball affiliés / qui représentent des sets de Los Angeles :
                    </p>
                    <p>
                        1 - Kansas City Royals:
                        <br>
                        <br>
                        • Kitchen Crips.
                        <br>
                        • SouthSide Kansas Street 13.
                        <br>
                        • Kelly Park Compton Crips.
                    </p>
                    <img src="../assets/image/kansas.webp" alt="diss-img" class="diss-img">
                    <p>
                        2 - Philadelphia Phillies:
                        <br>
                        <br>
                        • Rollin 30s Bloodstone Piru.
                        <br>
                        • 92 Pueblo Bishop Bloods.
                        <br>
                        • Pasadena Denver Lane Bloods.
                        <br>
                        • Campanella Park Piru.
                        <br>
                        • Holly Hood Piru.
                        <br>
                        • Cedar Block Piru Bloods.
                        <br>
                        • 52 Pueblo Bishop Bloods.
                        <br>
                        • Centinela Park Family Bloods.
                        <br>
                        • Eastside Los Primos 13.
                        <br>
                        • Mob Piru Gang.
                        <br>
                        • WestSide Tree Top Piru.
                    </p>
                    <img src="../assets/image/unknown-45.png" alt="diss-img" class="diss-img">
                    <p>
                        3 - Milwaukee Brewers:
                        <br>
                        <br>
                        • 984 Main Street Mafia Crips.
                        <br>
                        • 99 Watts Mafia Crips.
                        <br>
                        • Rollin 40 Neighborhood Crips.
                    </p>
                    <img src="../assets/image/unknown-11.png" alt="diss-img" class="diss-img">
                    <p>
                        4 - Seattle Mariners:
                        <br>
                        <br>
                        • Rollin 60s Neighborhood Crips.
                        <br>
                        • Sons of Samoa Crips.
                        <br>
                        • Shotgun Crips.
                        <br>
                        • 62st East Coast Crips.
                        <br>
                        • Insane Crips.
                        <br>
                        • Santana Blocc Compton Crips.
                    </p>
                    <img src="../assets/image/unknown-28.png" alt="diss-img" class="diss-img">
                    <p>
                        5 - Oakland Athletics:
                        <br>
                        <br>
                        • Avalon Gangster Crips.
                        <br>
                        • Hard Time Hustler Crips.
                        <br>
                        • 4th Street Hustler Crips.
                    </p>
                    <img src="../assets/image/unknown-26.png" alt="diss-img" class="diss-img">
                    <p>
                        6 - Texas Rangers:
                        <br>
                        <br>
                        • Eight Tray Gangsters Crips.
                        <br>
                        • 83 Hoover Criminal Gang.
                        <br>
                        • Rollin 20 Outlaw Bloods.
                        <br>
                        • Rollin 30s Bloodstone Piru.
                        <br>
                        • Fruit Town Brims.
                        <br>
                        • 43 Gangster Crips.
                        <br>
                        • Rollin 20s Neighborhood Bloods.
                        <br>
                        • 42 Gangster Crips.
                        <br>
                        • 83 Gangster Crips.
                        <br>
                        • Rollin 30s Original Harlem Crips.
                        <br>
                        • Bounty Hunter Watts Bloods.
                        <br>
                        • WestSide Tree Top Piru.
                    </p>
                    <img src="../assets/image/unknown-36.png" alt="">
                    <p>
                        7 - Atlanta Braves:
                        <br>
                        <br>
                        • Acacia Blocc Crips.
                        <br>
                        • Asian Boyz.
                        <br>
                        • Atlantic Drive Compton Crips.
                    </p>
                    <img src="../assets/image/unknown-15.png" alt="diss-img" class="diss-img">
                    <p>
                        8 - St Louis Cardinals Clipart:
                        <br>
                        <br>
                        • Black P. Stones Bloods.
                        <br>
                        • Sons of Samoa Crips.
                        <br>
                        • Rollin 20s Outlaw Bloods.
                        <br>
                        • 92 Be Bopp Watts.
                        <br>
                        • 89 Neighborhood Family Swan Bloods.
                        <br>
                        • Mad Swan Bloods.
                        <br>
                        • Crenshaw Mafia Bloods.
                        <br>
                        • Bounty Hunter Watts Bloods.
                    </p>
                    <img src="../assets/image/unknown-21.png" alt="diss-img" class="diss-img">
                    <p>
                        9 - Pittsburgh Pirates:
                        <br>
                        <br>
                        • Playboy 13.
                        <br>
                        • Primera Flats.
                        <br>
                        • Inglewood Neighborhood Piru.
                        <br>
                        • Grape Street Watts Crips.
                        <br>
                        • Rollin 30s Bloodstone Piru.
                        <br>
                        • PJ Watts Crips.
                        <br>
                        • Lonch Beach Barrio Pobre 13.
                        <br>
                        • Campanella Park Piru.
                        <br>
                        • Holly Hood Piru.
                        <br>
                        • EastSide Los Primos 13.
                        <br>
                        • Mob Piru Gang.
                        <br>
                        • WestSide Tree Top Piru.
                    </p>
                    <img src="../assets/image/unknown-37.png" alt="diss-img" class="diss-img">
                    <p>
                        10 - Chicago White SoX:
                        <br>
                        <br>
                        • Santana Blocc Compton.
                        <br>
                        • Insane Crips.
                        <br>
                        • Sons of Samoa Crips.
                        <br>
                        • Queen Street Bloods.
                        <br>
                        • Poccet Hood Compton Crips.
                        <br>
                        • Sox Los 13.
                        <br>
                        • 76 East Coast Crips.
                        <br>
                        • Rollin 60s Neighborhood Crips.
                    </p>
                    <img src="../assets/image/unknown-39.png" alt="diss-img" class="diss-img diss10">
                    <p>
                        11 - Los Angeles Angels:
                        <br>
                        <br>
                        • Avenue Piru Gang.
                        <br>
                        • Athens Park Bloods.
                        <br>
                        • Asian Boyz.
                        <br>
                        • All For Crime Bloods.
                        <br>
                        • 92 Be Bopp Watts.
                        <br>
                        • Avalon Gangster Crips.
                        <br>
                        • Hacienda Village Bloods.
                        <br>
                        • Black P Stone.
                        <br>
                        • Rollin 40s Neighborhood Crips.
                        <br>
                        • Inglewood Family Gangster Bloods.
                    </p>
                    <img src="../assets/image/unknown-35.png" alt="diss-img" class="diss-img diss10">
                    <p>
                        12 - Miami Marlins:
                        <br>
                        <br>
                        • Main Street Mafia Crips.
                        <br>
                        • Menlo Crips.
                        <br>
                        • 99 Watts Mafia Crips.
                    </p>
                    <img src="../assets/image/unknown-64.png" alt="diss-img" class="diss-img diss10">
                    <p>
                        13 - Baltimore Orioles:
                        <br>
                        <br>
                        • Originals Swamp Compton Crips.
                        <br>
                        • Rollin 20s Neighborhood Crips.
                        <br>
                        • Rollin 30s Original Harlem Crips.
                        <br>
                        • Rollin 40s Neighborhood Crips.
                        <br>
                        • Rollin 50s Neighborhood Crips.
                        <br>
                        • Rollin 60s Neighborhood Crips.
                        <br>
                        • Rollin 80s West Coast Crips.
                        <br>
                        • Rollin 90s Neighborhood Crips.
                        <br>
                        • Rollin 100s Neighborhood Crips.
                        <br>
                        • Rollin 20s Outlaw Bloods.
                    </p>
                    <img src="../assets/image/unknown-141.png" alt="diss-img" class="diss-img diss10">
                    <p>
                        14 - Boston Red Sox:
                        <br>
                        <br>
                        • Boulevard Mafia Crips.
                        <br>
                        • Rollin 20s Outlaw Bloods.
                        <br>
                        • Rollin 30s Bloodstone Piru.
                        <br>
                        • Queen Street Bloods.
                        <br>
                        • Fruit Town Brims.
                        <br>
                        • Pasadena Denver Lane Bloods.
                        <br>
                        • Figg Side Denver Lane Bloods.
                        <br>
                        • Norteños 14.
                        <br>
                        • Van Ness Gangster Brims.
                        <br>
                        • 52 Pueblo Bishop Bloods.
                        <br>
                        • Rollin 20s Neighborhood Bloods.
                        <br>
                        • Centinela Park Family Bloods.
                        <br>
                        • Mad Swan Bloods.
                        <br>
                        • Hacienda  Village Bloods.
                        <br>
                        • Crenshaw Mafia Bloods.
                        <br>
                        • Blue Flame Gang (Original Blocc Crips).
                        <br>
                        • Bounty Hunter Watts Bloods.
                        <br>
                        • 1st East Coast Crips.
                        <br>
                        • Mob Piru Gang.
                        <br>
                        • Insane Crips.
                        <br>
                        • Black P Stone.
                        <br>
                        • Santana Blocc Compton Crips.
                        <br>
                        • Inglewood Family Gangster Bloods.
                    </p>
                    <img src="../assets/image/unknown-80.png" alt="diss-img" class="diss-img diss10">
                    <p>
                        15 - Atlanta Falcons:
                        <br>
                        <br>
                        • El Monte Flores 13.
                        <br>
                        • Florencia 13.
                    </p>
                    <img src="../assets/image/unknown-53.png" alt="diss-img" class="diss-img diss10">
                    <p>
                        16 - Toronto Blue Jays:
                        <br>
                        <br>
                        • PJ Watts Crips.
                        <br>
                        • Long Beach Blacc Bandit Crips.
                        <br>
                        • Front Street Watts Crips.
                    </p>
                    <img src="../assets/image/unknown-40.png" alt="diss-img" class="diss-img diss10">
                    <p>
                        17 - Minnesota Twins:
                        <br>
                        <br>
                        • Rollin 30s Original Harlem Crips.
                        <br>
                        • Van Ness Gangster Brims.
                        <br>
                        • Rolin 20s Long Beach Crips.
                        <br>
                        • Maniac Latin Disciples.
                        <br>
                        • Crenshaw Mafia Gangsters.
                    </p>
                    <img src="../assets/image/unknown-47.png" alt="diss-img" class="diss-img diss10">
                    <p>
                        18 - New York Yankees:
                        <br>
                        <br>
                        • Rollin 20 NHB.
                        <br>
                        • Nutty Blocc Compton Crips.
                        <br>
                        • Inglewood Neighborhood Piru.
                        <br>
                        • Holly Hood Piru.
                        <br>
                        • Rollin 60s Neighborhood Crips.
                        <br>
                        • Underground Blocc Crips.
                        <br>
                        • 62st East Coast Crips.
                        <br>
                        • School Yard Crips.
                        <br>
                        • Rollin 40s Neighborhood Crips.
                        <br>
                        • Primera Flats.
                        <br>
                        • Asian Boyz Crips.
                        <br>
                        • Practically all the crips.
                    </p>
                    <img src="../assets/image/unknown-33.png" alt="diss-img" class="diss-img diss10">
                    <p>
                        19 - Florida Marlins:
                        <br>
                        <br>
                        • Front Hood Crips.
                        <br>
                        • Inglewood Family Gangster Bloods.
                        <br>
                        • Florencia 13.
                        <br>
                        • El Monte Flores 13.
                        <br>
                        • Front Street Watts Crips.
                        <br>
                        • Rollin 40s Neighborhood Crips.
                        <br>
                        • Primera Flats.
                        <br>
                        • Rollin 50s Neighborhood Crips.
                    </p>
                    <img src="../assets/image/unknown-44.png" alt="diss-img" class="diss-img diss10">
                    <p>
                        20 - Detroit Tigers:
                        <br>
                        <br>
                        • Tous les crips affiliés a "Deuce".
                        <br>
                        • 62 East Coast Crips.
                        <br>
                        • 52 Hoover Gangster Crips.
                        <br>
                        • 92 Hoover Criminal Gang.
                        <br>
                        • Blacc Bandit Crips.
                        <br>
                        • 112 Hoover Criminal Gang.
                        <br>
                        • Poccet Hood Compton Crips.
                        <br>
                        • 94 Hoover Criminal Gang.
                        <br>
                        • Norteños 14.
                        <br>
                        • Long Beach Blacc Bandit Crips.
                        <br>
                        • 107 Hoover Criminal Gangs.
                        <br>
                        • 42 Gangster Crips.
                        <br>
                        • Rollin 30s Original Harlem Crips.
                        <br>
                        • 83 Hoover Criminal Gang.
                        <br>
                        • 62 Street East Coast Crips.
                        <br>
                        • Rollin 40s Neighborhood Crips.
                    </p>
                    <img src="../assets/image/unknown-44.png" alt="diss-img" class="diss-img diss10">
                    <p>
                        21 - Washington Nationals:
                        <br>
                        <br>
                        • West Coast Rollin 80.
                        <br>
                        • Whittier 13.
                        <br>
                        • Wilmas 13.
                        <br>
                        • White Fence 13.
                        <br>
                        • PJ Watts Crips.
                        <br>
                        • 92 Pueblo Bishop Bloods.
                        <br>
                        • Norteños 14.
                        <br>
                        • Bounty Hunter Watts Bloods.
                        <br>
                        • Hacienda Village Bloods.
                        <br>
                        • Lennox 13.
                        <br>
                        • Crenshaw Mafia Bloods.
                        <br>
                        • School Yard Crips.
                        <br>
                        • Grape Street Watts Crips.
                    </p>
                    <img src="../assets/image/unknown-40.png" alt="diss-img" class="diss-img diss10">
                    <p>
                        22 - Houston Astros:
                        <br>
                        <br>
                        • All Hoover Set.
                        <br>
                        • Harbor City Crips.
                        <br>
                        • DeadEnd Harpys.
                        <br>
                        • Poccet Hood Compton Crips.
                        <br>
                        • Holmes Street Watss Crips.
                        <br>
                        • Holly Hood Pirus.
                        <br>
                        • Florencia 13 (Huntington Park).
                        <br>
                        • Puro Tango Blast.
                    </p>
                    <img src="../assets/image/unknown-34.png" alt="diss-img" class="diss-img diss10">
                    <p>
                        23 - Dodgers:
                        <br>
                        <br>
                        • Gran mayoría de pandillas sureñas.
                        <br>
                        • 92 Hoover Criminal Gang.
                    </p>
                    <img src="../assets/image/unknown-16.png" alt="diss-img" class="diss-img diss10">
                    <p>
                        24 - Raiders:
                        <br>
                        <br>
                        • Gran mayoría de pandillas sureñas.
                        <br>
                        • Long Beach Insane Crips.
                        <br>
                        • Santana Blocc Compton Crips
                        <br>
                        • Insane Crips.
                        <br>
                        • Nutty Blocc Compton Crips.
                    </p>
                    <img src="../assets/image/unknown-01.png" alt="diss-img" class="diss-img diss10">
                    <p>
                        25 - Cleveland Indians:
                        <br>
                        <br>
                        • Inglewood Family Gangster Bloods.
                        <br>
                        • Centinela Park Family Bloods.
                        <br>
                        • Playboy 13.
                        <br>
                        • Insane Crips.
                        <br>
                        • Baby Insane Crips.
                        <br>
                        • Varrio Inglewood 13.
                        <br>
                        • Neighborhood Piru.
                        <br>
                        • Crenshaw Mafia Bloods.
                        <br>
                        • 27st Ghetto Boyz 13.
                        <br>
                        • Acacia Blocc Compton Crips.
                        <br>
                        • Baby Insane Crips.
                    </p>
                    <img src="../assets/image/unknown-51.png" alt="diss-img" class="diss-img diss10">
                </div>
            </div>
        </div>
    </main>

    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="footer-col">
                    <h4> Navigation </h4>
                    <ul>
                        <li><a href="index-notice.html">Accueil</a></li>
                        <li><a href="index-notice.html">Notice</a></li>
                        <li><a href="lexique.html">Lexique</a></li>
                        <li><a href="insignes.html">Insignes</a></li>
                        <li><a href="graffitis.html">Graffitis</a></li>
                        <li><a href="baseball-affil.html">Baseball Affiliations</a></li>
                        <li><a href="credits.html">Credits</a></li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4>Useful Links</h4>
                    <ul>
                        <li><a href="#">FAQ</a></li>
                        <li><a href="#">Services</a></li>
                        <li><a href="#">Contact</a></li>
                        <li><a href="https://twitter.com/lacity?lang=fr">LA Twitter</a></li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4>Extras</h4>
                    <ul>
                        <li>
                            <p>Plus d'informations, sur notre discord (plateforme principal de contact de notre site).
                            </p>
                        </li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4>Contact</h4>
                    <div class="social-links">
                        <a href="https://discord.gg/7wxGtrRep7"><i class="fa-brands fa-discord"></i></a>
                        <a href="mailto:dahoodguide.pro@gmail.com?subject=Sujet%20de%20votre%20mail&body=Corps%20de%20votre%20mail
                        "><i class="fa-solid fa-envelope"></i></i></a>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <script src="https://kit.fontawesome.com/474b53fd86.js" crossorigin="anonymous"></script>
    <script src="../assets/js/script-views.js"></script>
</body>

</html>