<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Da Hood - Credits </title>
    <link rel="sortcut icon" href="../assets/image/icon2.png">
    <link rel="stylesheet" href="../assets/css/style-credits.css">
</head>

<body>
    <header>
        <div class="header">
            <i class="fa-solid fa-bars" style="color: #d9d9d9;"></i>
        </div>

        <div class="my-side-nav">
            <i class="fa-solid fa-xmark close" style="color: #D9D9D9;"></i>
            <ul>
                <li><a href="../index.html"><i class="fa-solid fa-house house-nav" style="color: #0665FF;"></i>
                        Accueil</a></li>
                <li><a href="index-notice.html"><i class="fa-solid fa-book-open book-nav" style="color: #0665FF;"></i>
                        Notice
                    </a></li>
                <li><a href="index-notice.html"><i class="fa-solid fa-a a-nav" style="color: #0665FF;"></i>Lexique</a>
                </li>
                <li><a href="insignes.html"><i class="fa-solid fa-circle-info info-nav" style="color: #0665FF;"></i>
                        Insignes </a>
                </li>
                <li><a href="graffitis.html"><i class="fa-solid fa-spray-can spray-nav" style="color: #0665FF;"></i>
                        Graffitis </a>
                </li>
                <li><a href="baseball-affil.html"><i class="fa-solid fa-baseball-bat-ball" style="color: #0665FF;"></i>Baseball Affil</a>
                </li>
                <li><a href="credits.html"><i class="fa-regular fa-copyright copyright-nav" style="color: #0665FF;"></i>
                        Credits
                    </a></li>
                <li><a href="#" class="random"><i class="fa-solid fa-dice-five dice-nav"
                            style="color: #0665FF;"></i>Page Aléatoire</a>
                </li>
            </ul>
            <div class="language">
                <li><a href="#"><img src="../assets/image/france-flag-round-shape-free-png.webp" alt="drapeau francais"
                            class="french-flag"></a></li>
                <li><a href="#"><img src="../assets/image/united-states-flag-round-icon-american-flag-png.webp"
                            alt="drapeau usa" class="usa-flag"></a></li>
            </div>
        </div>
    </header>

    <main>
        <div class="credits-contain">
            <h1 class="da-hood-title">Da Hood Guide</h1>
            <div class="titre-contain">
                <h3 class="title-section"> REMERCIEMENT / CREDIT </h3>
                <div class="text-credits">
                    <p>
                        Voici tous les sites, tous les discords, toutes les personnes qui nous ont aidé pour la
                        recherche d’informations :
                    </p>
                    <hr>
                    <p>
                        Nous tenons à exprimer notre profonde gratitude au serveur Stalya Role Play pour avoir fourni
                        des informations cruciales pour notre projet de répertoire sur les gangs de rue de Los Angeles.
                        Votre contribution a été d'une valeur inestimable pour notre recherche, nous permettant de mieux
                        comprendre et représenter la complexité de cette réalité urbaine. Vos données ont enrichi notre
                        travail et nous vous en sommes extrêmement reconnaissants.
                        <br>
                        <br>
                        Voici leurs informations de contact : <br>
                        • https://wiki.stalya-rp.fr/
                        <br>
                        • discord.gg/stalya
                    </p>
                    <hr>
                    <p>
                        Nous tenons à adresser nos sincères remerciements à DaPlug Guide pour leur précieuse assistance
                        dans notre projet de répertoire sur les gangs de rue de Los Angeles. Leur collaboration nous a
                        permis d'accéder à des informations pertinentes et détaillées, enrichissant ainsi notre
                        compréhension de ce sujet crucial. Leur expertise a grandement contribué à la qualité et à la
                        précision de notre travail, et nous leur en sommes extrêmement reconnaissants pour leur soutien
                        continu.
                        <br>
                        <br>
                        Voici leurs informations de contact : <br>
                        • discord.gg/p9dA7XZgKr
                    </p>
                    <hr>
                    <p>
                        Nous tenons à remercier sincèrement Criminal Network pour leur contribution à notre projet de
                        répertoire sur les gangs de rue de Los Angeles. Bien que leur assistance ait été plus limitée
                        que celle d'autres partenaires, nous sommes reconnaissants pour leur soutien et leurs
                        informations, qui ont néanmoins enrichi notre travail. Votre participation a été appréciée et a
                        contribué à renforcer notre compréhension globale du sujet. Merci pour votre collaboration.
                        <br>
                        <br>
                        Voici leurs informations de contact : <br>
                        • discord.gg/G58WYPWfPy
                    </p>
                    <hr>
                    <p>
                        Nous tenons à exprimer notre profonde gratitude envers Hood Storiez pour leur soutien précieux
                        et leur contribution significative à notre projet de répertoire sur les gangs de rue de Los
                        Angeles. Leur aide substantielle a été inestimable, fournissant des informations essentielles
                        qui ont enrichi notre compréhension et renforcé la qualité de notre travail. Leur engagement
                        démontre un véritable partenariat et nous sommes reconnaissants pour leur générosité et leur
                        collaboration. Merci infiniment à Hood Storiez pour leur soutien précieux et leur engagement
                        indéfectible envers notre projet.
                        <br>
                        <br>
                        Voici leurs informations de contact :
                        <br>
                        • discord.gg/hoodstoriezfr
                        <br>
                        • www.youtube.com/@hoodstoriezfr
                        <br>
                        • https://www.tiktok.com/@trapzxfr3nch
                        <br>
                        • https://www.instagram.com/hoodstoriezfr/
                    </p>
                </div>
            </div>
        </div>
    </main>

    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="footer-col">
                    <h4> Navigation </h4>
                    <ul>
                        <li><a href="index-notice.html">Accueil</a></li>
                        <li><a href="index-notice.html">Notice</a></li>
                        <li><a href="lexique.html">Lexique</a></li>
                        <li><a href="insignes.html">Insignes</a></li>
                        <li><a href="graffitis.html">Graffitis</a></li>
                        <li><a href="baseball-affil.html">Baseball Affiliations</a></li>
                        <li><a href="credits.html">Credits</a></li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4>Useful Links</h4>
                    <ul>
                        <li><a href="#">FAQ</a></li>
                        <li><a href="#">Services</a></li>
                        <li><a href="#">Contact</a></li>
                        <li><a href="https://twitter.com/lacity?lang=fr">LA Twitter</a></li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4>Extras</h4>
                    <ul>
                        <li>
                            <p>Plus d'informations, sur notre discord (plateforme principal de contact de notre site).
                            </p>
                        </li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4>Contact</h4>
                    <div class="social-links">
                        <a href="https://discord.gg/7wxGtrRep7"><i class="fa-brands fa-discord"></i></a>
                        <a href="mailto:dahoodguide.pro@gmail.com?subject=Sujet%20de%20votre%20mail&body=Corps%20de%20votre%20mail
                        "><i class="fa-solid fa-envelope"></i></i></a>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <script src="https://kit.fontawesome.com/474b53fd86.js" crossorigin="anonymous"></script>
    <script src="../assets/js/script-views.js"></script>
</body>

</html>