<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Da Hood - Graffitis </title>
    <link rel="sortcut icon" href="../assets/image/icon2.png">
    <link rel="stylesheet" href="../assets/css/style-graffitis.css">
</head>

<body>
    <header>
        <div class="header">
            <i class="fa-solid fa-bars" style="color: #d9d9d9;"></i>
            <i class="fa-solid fa-magnifying-glass glass" style="color: #d9d9d9;"></i>
        </div>

        <div class="my-side-nav">
            <i class="fa-solid fa-xmark close" style="color: #D9D9D9;"></i>
            <ul>
                <li><a href="../index.html"><i class="fa-solid fa-house house-nav" style="color: #0665FF;"></i>
                        Accueil</a></li>
                <li><a href="index-notice.html"><i class="fa-solid fa-book-open book-nav" style="color: #0665FF;"></i>
                        Notice
                    </a></li>
                <li><a href="index-notice.html"><i class="fa-solid fa-a a-nav" style="color: #0665FF;"></i>Lexique</a>
                </li>
                <li><a href="insignes.html"><i class="fa-solid fa-circle-info info-nav" style="color: #0665FF;"></i>
                        Insignes </a>
                </li>
                <li><a href="graffitis.html"><i class="fa-solid fa-spray-can spray-nav" style="color: #0665FF;"></i>
                        Graffitis </a>
                </li>
                <li><a href="baseball-affil.html"><i class="fa-solid fa-baseball-bat-ball" style="color: #0665FF;"></i>Baseball Affil</a>
                </li>
                <li><a href="credits.html"><i class="fa-regular fa-copyright copyright-nav" style="color: #0665FF;"></i>
                        Credits
                    </a></li>
                <li><a href="#" class="random"><i class="fa-solid fa-dice-five dice-nav"
                            style="color: #0665FF;"></i>Page Aléatoire</a>
                </li>
                <li><a href="#"> <i class="fa-solid fa-magnifying-glass glass-nav"
                            style="color: #0665FF;"></i>Recherche</a>
                </li>
            </ul>
            <div class="language">
                <li><a href="#"><img src="../assets/image/france-flag-round-shape-free-png.webp" alt="drapeau francais"
                            class="french-flag"></a></li>
                <li><a href="#"><img src="../assets/image/united-states-flag-round-icon-american-flag-png.webp"
                            alt="drapeau usa" class="usa-flag"></a></li>
            </div>
        </div>
    </header>

    <main>
        <div class="graffitis-contain">
            <h1 class="da-hood-title">Da Hood Guide</h1>
            <div class="mentalite-contain">
                <h3 class="title-section"> LES GRAFFITIS AU US </h3>
                <div class="appel-vert-contain">
                    <i class="fa-solid fa-circle-check" style="color: #5b895d;"></i>
                    <p class="appel-vert-txt">Décryptez le lexique des graffitis revendiquant les "sets" à Los Angeles,
                        où des termes comme "tagging", "bombing" et "throw-ups" sont couramment utilisés pour marquer le
                        territoire des différents gangs. Plongez dans cet univers artistique urbain, où les mots
                        prennent vie à travers les couleurs et les formes.  </p>
                </div>
                <p class="text-graffitis">
                    En 2022, les gangs de manière générale se sont plus développés dans les façons de représenter les
                    mouvements qu'ils portent, au paravent les gangs se différenciaient que par la couleur des habits
                    qu'ils portent, mais désormais les manières du "banging" sont plus diverses, et parmi ces dernières
                    on retrouve le tag.
                    <br>
                    <br>
                    Le tag de manière plus générale est simplement le fait de représenter sa bande/son mouvement à
                    travers des inscriptions dessinées à la bombe de peinture sur un mur, dit comme ça il peut sembler
                    que ça soit quelque chose de relativement simple, mais il faut savoir bien représenter son
                    mouvement, prenons l'exemple de "Baby Kapone" un membre des 83st IFGB qui a récemment profané le
                    mémorial du rappeur Nispey Hussle:
                    <br>
                    <br>
                    On remarque divers inscriptions sur le mémorial, voici la liste de certains tags que j'ai pu
                    reconnaître:
                    <br>
                    <br>
                    - 60K: Ce qui signifie tout simplement un "tueur/killer" des **Rollin 60 Neighborhood Crips**
                    <br>
                    - IFGB: Le nom du gang auquel appartient **Baby Kapone**
                    <br>
                    - NK: Naps Killa, naps qui est le diss name (une insulte définissant un gang ennemi) de l'ensemble
                    des **Rollin Neighborhood Crips**
                    <br>
                    - Kapone#3 (Baby Kapone): Le nom de l'auteur de la profanation a été inscrit afin que l'on le
                    reconnaisse, ça se fait souvent
                    <br>
                    <br>
                    Ainsi, on peut retenir deux grandes idées (trois si on rajoute la signature), l'inscription de diss
                    ou dissnames en territoire ennemi et un initial ou un mot qui définit/appartient au mouvement auquel
                    vous faîtes partie
                    DISS TAG
                    • EBK - Everybody Killer
                    <br>
                    • ȻK - Crips Killer
                    <br>
                    • FREE - Libérez ...
                    <br>
                    • GSWC - Grape Street Watts Crips
                    <br>
                    • ØK - Rollin's 0's Killer
                    <br>
                    • 2ØK - Rollin's 20 Killer
                    <br>
                    • TWIꞤKIEꞨK - Diss Rollin's 20
                    <br>
                    • 3ØK - Rollin's 30 Killer
                    <br>
                    • BAꞦLEMꞨK - Diss Rollin's 30
                    <br>
                    • ÐIꞦTIEꞨK - Diss Rollin's 30
                    <br>
                    • 4ØK - Rollin's 40 Killer
                    <br>
                    • ꞘUꞤKIEꞨK - Diss Rollin's 40
                    <br>
                    • PHØꞤIEꞨK - Diss Rollin's 40
                    <br>
                    • 6ØK - Rollin's 60 Killer
                    <br>
                    • ꞨIꞨꞨIEꞨK - Diss Rollin's 60
                    <br>
                    • 9ØK - Rollin's 90 Killer
                    <br>
                    • ꞤȺTTꞨK - Diss Rollin's 90
                    <br>
                    • 1ØØK - Rollin's 100 Killer
                    <br>
                    • HUꞤEYBUꞤꞨK - Diss Rollin's 100
                    <br>
                    • CLØCCꞨK - Diss Rollin's 100
                    <br>
                    • E/S - Estside
                    <br>
                    • S/S - South Side
                    <br>
                    • W/S - West Side
                    <br>
                    • N/S - North Side
                    <br>
                    • Ø - Les Ø sont barrés pour diss tous les Rollin's.
                    <br>
                    • ꞤHCK - Pour diss tous les Neighborhood même si on va éviter de dire ca pour le "CK" dedans et
                    plutôt dire Fucc ꞤHC ou autres.
                </p>
                <div class="tag-contain">
                    <img src="../assets/image/tag1.png" alt="tag1">
                    <img src="../assets/image/tag2.png" alt="tag2">
                    <img src="../assets/image/tag3.png" alt="tag3">
                    <img src="../assets/image/tag4.png" alt="tag4">
                    <img src="../assets/image/tag5.png" alt="tag5">
                    <img src="../assets/image/tag6.png" alt="tag6">
                    <img src="../assets/image/tag7.png" alt="tag7">
                    <img src="../assets/image/tag8.png" alt="tag8">
                    <img src="../assets/image/tag9.png" alt="tag9">
                    <img src="../assets/image/tag10.png" alt="tag10">
                    <img src="../assets/image/tag11.png" alt="tag11">
                    <img src="../assets/image/tag12.png" alt="tag12">
                </div>
            </div>
        </div>
    </main>

    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="footer-col">
                    <h4> Navigation </h4>
                    <ul>
                        <li><a href="index-notice.html">Accueil</a></li>
                        <li><a href="index-notice.html">Notice</a></li>
                        <li><a href="lexique.html">Lexique</a></li>
                        <li><a href="insignes.html">Insignes</a></li>
                        <li><a href="graffitis.html">Graffitis</a></li>
                        <li><a href="baseball-affil.html">Baseball Affiliations</a></li>
                        <li><a href="credits.html">Credits</a></li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4>Useful Links</h4>
                    <ul>
                        <li><a href="#">FAQ</a></li>
                        <li><a href="#">Services</a></li>
                        <li><a href="#">Contact</a></li>
                        <li><a href="https://twitter.com/lacity?lang=fr">LA Twitter</a></li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4>Extras</h4>
                    <ul>
                        <li>
                            <p>Plus d'informations, sur notre discord (plateforme principal de contact de notre site).
                            </p>
                        </li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4>Contact</h4>
                    <div class="social-links">
                        <a href="https://discord.gg/7wxGtrRep7"><i class="fa-brands fa-discord"></i></a>
                        <a href="mailto:dahoodguide.pro@gmail.com?subject=Sujet%20de%20votre%20mail&body=Corps%20de%20votre%20mail
                        "><i class="fa-solid fa-envelope"></i></i></a>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <script src="https://kit.fontawesome.com/474b53fd86.js" crossorigin="anonymous"></script>
    <script src="../assets/js/script-views.js"></script>
</body>

</html>