<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Da Hood - Notice </title>
    <link rel="sortcut icon" href="../assets/image/icon2.png">
    <link rel="stylesheet" href="../assets/css/style-lexique.css">
</head>

<body>
    <header>
        <div class="header">
            <i class="fa-solid fa-bars" style="color: #d9d9d9;"></i>
            <i class="fa-solid fa-book-open book-bars" style="color: #d9d9d9;"></i>
            <h1 class="da-hood-title">Da Hood Guide</h1>
            <i class="fa-solid fa-magnifying-glass glass" style="color: #d9d9d9;"></i>
        </div>

        <div class="my-side-nav">
            <i class="fa-solid fa-xmark close" style="color: #D9D9D9;"></i>
            <ul>
                <li><a href="../index.html"><i class="fa-solid fa-house house-nav" style="color: #0665FF;"></i> Accueil</a></li>
                <li><a href="views/index-notice.html"><i class="fa-solid fa-book-open book-nav" style="color: #0665FF;"></i> Notice </a></li>
                <li><a href="index-notice.html"><i class="fa-solid fa-a a-nav" style="color: #0665FF;"></i>Lexique</a></li>
                <li><a href="#"><i class="fa-solid fa-circle-info info-nav" style="color: #0665FF;"></i> Insignes </a></li>
                <li><a href="#"><i class="fa-solid fa-spray-can spray-nav" style="color: #0665FF;"></i> Graffitis </a></li>
                <li><a href="#"><i class="fa-regular fa-copyright copyright-nav" style="color: #0665FF;"></i> Credits </a></li>
                <li><a href="#"><i class="fa-solid fa-dice-five dice-nav" style="color: #0665FF;"></i>Page Aléatoire</a></li>
                <li><a href="#"> <i class="fa-solid fa-magnifying-glass glass-nav" style="color: #0665FF;"></i>Recherche</a></li>
            </ul>
        </div>
    </header>

    <main>
        
    </main>

    <script src="https://kit.fontawesome.com/474b53fd86.js" crossorigin="anonymous"></script>
    <script src="../assets/js/script.js"></script>
</body>

</html>