<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Da Hood - Notice </title>
    <link rel="sortcut icon" href="../assets/image/icon2.png">
    <link rel="stylesheet" href="../assets/css/style-notice.css">
</head>

<body>
    <header>
        <div class="header">
            <i class="fa-solid fa-bars" style="color: #d9d9d9;"></i>
            <i class="fa-solid fa-magnifying-glass glass" style="color: #d9d9d9;"></i>
        </div>

        <div class="my-side-nav">
            <i class="fa-solid fa-xmark close" style="color: #D9D9D9;"></i>
            <ul>
                <li><a href="../index.html"><i class="fa-solid fa-house house-nav" style="color: #0665FF;"></i> Accueil</a></li>
                <li><a href="views/index-notice.html"><i class="fa-solid fa-book-open book-nav" style="color: #0665FF;"></i> Notice </a></li>
                <li><a href="lexique.html"><i class="fa-solid fa-a a-nav" style="color: #0665FF;"></i>Lexique</a>
                </li>
                <li><a href="insignes.html"><i class="fa-solid fa-circle-info info-nav" style="color: #0665FF;"></i> Insignes </a>
                </li>
                <li><a href="graffitis.html"><i class="fa-solid fa-spray-can spray-nav" style="color: #0665FF;"></i> Graffitis </a>
                </li>
                <li><a href="#"><i class="fa-regular fa-copyright copyright-nav" style="color: #0665FF;"></i> Credits </a></li>
                <li><a href="#"><i class="fa-solid fa-dice-five dice-nav" style="color: #0665FF;"></i>Page Aléatoire</a>
                </li>
                <li><a href="#"> <i class="fa-solid fa-magnifying-glass glass-nav" style="color: #0665FF;"></i>Recherche</a></li>
            </ul>
            <div class="language">
                <li><a href="#"><img src="../assets/image/france-flag-round-shape-free-png.webp" alt="drapeau francais" class="french-flag"></a></li>
                <li><a href="#"><img src="../assets/image/united-states-flag-round-icon-american-flag-png.webp" alt="drapeau usa" class="usa-flag"></a></li>
            </div>
        </div>
    </header>

    <main>
        <div class="notice-contain">
            <h1 class="da-hood-title">Da Hood Guide</h1>
            <div class="mentalite-contain">
                <h3 class="title-section"> 1. la mentalité </h3>
                <div class="appel-vert-contain">
                    <i class="fa-solid fa-circle-check" style="color: #5b895d;"></i>
                    <p class="appel-vert-txt">Cette notice est ce qui va vous servir de guide concernant les gangs de
                        rue de Los Angeles. Inspirez-vous-en au maximum afin d'avoir un meilleur réalisme en jeu. </p>
                </div>
                <p class="txt-notice">
                    Les Etats-Unis sont un pays célèbre pour le rêve américain, c'est un pays où l'on peut partir de
                    rien et s'élever jusqu'aux plus hauts niveaux du pays, c'est ce qui rend les Etats-Unis si
                    attractifs. D’un autre côté, c’est aussi un pays qui peut conduire à vivre le cauchemar américain,
                    c'est -à -dire une descente aux enfers très rapidement et dans un milieu très sale. 
                    <br>
                    <br>
                    Les Etats-Unis n'apportent pas autant d'aide qu'en France. Ainsi, les minorités aux États-Unis se
                    distinguent par une certaine mentalité de débrouillardise et se méfient généralement de tout le
                    monde, elles ne peuvent compter que sur elles-mêmes.
                    <br>
                    <br>
                    C’est ce qui fait que tous les groupes que tout le monde considère comme les plus « vrais ». La
                    culture des gangs met en avant l’aspect communautaire et la séparation psychologique. Les gangsters
                    américains aiment se montrer, afficher leurs atouts, leur argent, leur pouvoir, etc.
                </p>
                <img src="../assets/image/istockphoto-1370810363-612x612 1.png" alt="us-flag" class="us-fag">
            </div>
            <div class="vetements-contain">
                <h3 class="title-section">2. Drip Us</h3>
                <p class="txt-vetements">
                    Il faut d’abord se rappeler que nous sommes à Los Angeles et qu’il fait donc très chaud. Donc pour
                    les mois les plus froids entre 13° et 15°, on est logiquement au maximum autour de 35/40° pour les
                    mois les plus chauds. Donc logiquement, vous ne porteriez pas de veste ample (sauf s'il pleut et il
                    y aurait alors plus de vestes imperméables).
                    <br>
                    <br>
                    Deux catégories de styles vestimentaires existent à Los Angeles, la Old School et la New School.
                    <br>
                    <br>
                    - Style Old School : Ce style se caractérise principalement par des vêtements très larges, comme des
                    baggy, des gros t-shirts et des vestes volumineuses. Ce mode demeure largement répandu dans les
                    quartiers latinos.
                    <br>
                    <br>
                    - New School : Ce style se compose principalement de marques haut de gamme (Moncler, Amiri, etc...),
                    de jeans assez serrés et élastiques, ainsi que de baskets très populaires (Jordan 4, Jordan 1...).
                    Ce style est largement adopté par les jeunes et est fortement influencé par New York.
                </p>
                    <img src="../assets/image/8X04hlM4xxjpbus8-image-1658082677192 1.png" alt="photo drip us" class="drip-us">
                    <img src="../assets/image/wZnbfBPzaaqiDmtd-image-1658082647985 1.png" alt="photo drip us" class="drip-us">
                    <img src="../assets/image/unknown.png" alt="photo drip us" class="drip-us">
                    <img src="../assets/image/IMG_2014.png" alt="photo drip us" class="drip-us">
            </div>
            <div class="quotidien-contain">
                <h3 class="title-section">3. leur quotidien</h3>
                <div class="appel-vert-contain bleu">
                    <i class="fa-solid fa-circle-info" style="color: #0288D1;"></i>
                    <p class="appel-vert-txt bleu">Le comportement des set members dans la vie n'est pas comme on peut le voir à la télé, ils ne tirent que très peu et ne se battent pas tous les jours, ce sont des humains comme tout le monde. Il faut savoir que l'ambiance dans un hood est très chaleureux et familial, les "gangsters" ne sont pas si méchants que ça du moins ils le sont seulement contre leurs opposants.  </p>
                </div>
                <p class="txt-quotidien">
                    Un gangsta traîne beaucoup à pieds et en BMX, ils traînent partout dans son hood pour le revendiquer. Les gangsta fument beaucoup de Weed et boivent beaucoup d`alcool (Surtout du cidre).
                    <br>
                    <br>
                    Les set members vont souvent squatter leurs quartier de manière logique, leur but est de montrer a leurs rivaux qu'ils sont présents partout et qu'ils ne les laisseront pas marcher chez eux.
                    <br><br>
                    Type de spot :
                    <br>
                    <br>
                    - Un spot clique est un squat d'une clique dans lequel il passe un maximum de temps entre membre de la clique. *(Exemple : Un coin de rue, un parking, en bas d'un block)
                    <br>
                    <br>
                    - Un set place est une zone où tout le set peut se rejoindre ensemble (Toute cliques comprises) (Exemple : Superrette, Stations essence ect)*
                    <br>
                    <br>
                    - Un hang-out endroit neutre où tout le monde peut venir (Exemple : SkatePark, Salle de boxe, etc ...) C'est peuplé et surveillé on évite donc les conflits. 
                </p>
                    <img src="../assets/image/unknown 1.png" alt="photo us quotidien" class="drip-us quotidien">
                    <img src="../assets/image/oA2VIkDXN68 1.png" alt="photo us quotidien" class="drip-us quotidien">
                    <img src="../assets/image/IMG_20220501_005207 1.png" alt="photo us quotidien" class="drip-us quotidien">
            </div>
            <div class="argent-contain">
                <h3 class="title-section">4. l'argent</h3>
                <p class="txt-argent">
                    - Trafic et vente de drogue : C'est le moyen le plus utilisé, il y a beaucoup de dealer dans un set.
                    <br>
                    <br>
                    - Scam : Le fait d'arnaquer les gens de plusieurs manières, vendre des fausses entrés au bar, arnaquer de la dope, etc ... (soyez inventif)
                    <br>
                    <br>
                    - Resel : vente d'objets divers (exemple : tabac et alcool)
                    <br>
                    <br>
                    - Jobs Légaux : Vigil, être artiste, travailler dans une société (tabac/alcool ...). Vous pouvez bien évidemment évoluer là où vous travailler.
                    <br>
                    <br>
                    - Vol et racket : Un gangster peut être un voleur d'habits, de voitures et de divers objets. Le racket est une banale chose pour se faire un petit billet, ce n'est pas un travail.
                </p>
                <img src="../assets/image/7fcba7a_1673054551501-000-334x2ne.jpg" alt="photo us drogue" class="drip-us argent drogue">
                <img src="../assets/image/6696c9993bab47bd49c777ba9fbcbc12_scam-stamp-3 1.png" alt="photo us scam" class="drip-us argent">
                <img src="../assets/image/lil-yachty-new-album 1.png" alt="photo us lil-yachty-new-album" class="drip-us argent">
            </div>
            <div class="beef-contain">
                <h3 class="title-section">5. les beefs</h3>
                <p class="txt-beef">
                    Un beef c'est le fait qu'une embrouille éclate entre 2 personnes, 2 groupes, 2 cliques ou 2 set (Rarement). L'origine de l'embrouille peut être dû au passé et elle est poursuivie par prétexte que les anciens ont toujours fait la guerre donc la guerre continue ou cela peut venir d'une arnaque, d'une bagarre, d'un dissrespect, d'une menace, de racket. Le comportement Gangsta amènera tôt ou tard des beefs car c'est un comportement provocateur, que ce soit dans la démarche, le choix de sa casquette, comment il parle, etc...
                    <br>
                    <br>
                    Les issues à un beef :
                    <br>
                    1 - La discussion : Une fois croisé dans la rue, un des deux côtés va interpeller l'autre afin d'arrêter le beef car ça mène à rien, perte de temps et perte d'argent. Cet acte est généralement pris pour un comportement de lâche mais certains peuvent penser que c'est un acte réfléchi.
                    <br>
                    <br>
                    2 - La mort (Même de tout le set) : Pendant un beef le fait d'aller tiré sur ses opps est une possibilité et la mort peut être une issue. Abandon des amis du mort qui vient afin d'expliquer qu'ils ne vont pas continuer la guerre ou la mort de tous les opps qui fait que la guerre est terminée.
                </p>
                <div class="appel-vert-contain orange">
                    <i class="fa-solid fa-triangle-exclamation" style="color: #C56F40;"></i>
                    <p class="appel-vert-txt">Ce n'est pas parce qu'un membre du set est en embrouille avec quelqu'un que tout le set est automatiquement lié au beef. Un beef entre set se créer lorsque beaucoup de membres du set commence à s'impliquer dans le beef. Un beef ne veut pas dire aller tirer directement c'est tout un comportement d'opposition envers vos ennemis, bagarre, insulte et aussi les tirs quand il faut.  </p>
                </div>
                <embed src="https://packaged-media.redd.it/n01flqh0a7ab1/pb/m2-res_480p.mp4?m=DASHPlaylist.mpd&v=1&e=1711573200&s=ba9d133bfd6568ae5a02492381e69e181c4bf4e0#t=0" type="video/mp4" height="360px"
                width="400px">
            </div>
            <div class="hierarchie-contain">
                <h3 class="title-section">6. la "hiérarchie"</h3>
                <div class="appel-vert-contain bleu">
                    <i class="fa-solid fa-circle-info" style="color: #0288D1;"></i>
                    <p class="appel-vert-txt bleu">Tout d'abord, il faut savoir que dans un gang ou un set il n'y a pas de chef qui contrôle tout.  </p>
                </div>
                <p class="txt-hierarchie">
                    Voici le fonctionnement d'un set :
                    <br>
                    <br>
                    1 - Résident : Un habitant d'un quartier qui n'est pas du tout mêlé à l'activité du gang.
                    <br>
                    <br>
                    2 - Résident approchant : Un habitant d'un quartier qui a pour but de rejoindre le set.
                    <br>
                    <br>
                    3 - Set Member : Membre du set. (C’est une question de respect, si tu viens de te faire put-on tu n’auras pas le même respect qu’un membre actif et daté)En étant membre d'un set, il y a encore plusieurs niveaux au sein du gang. Ce sont des rôles qui s'acquièrent en fonction de l'ancienneté dans le gang, l'activité et les actes commis. Ce rôle s'attribue par les dires des autres membres.
                    <br>
                    <br>
                    En étant membre d'un set, il y a encore plusieurs niveaux au sein du gang. Ce sont des rôles qui s'acquièrent en fonction de l'ancienneté dans le gang, l'activité et les actes commis. Ce rôle s'attribue par les dires des autres membres.
                </p>
                <img src="../assets/image/2666506 1.png" alt="photo hierarchie" class="drip-us argent">
            </div>
            <div class="evenement-contain">
                <h3 class="title-section">7. les evenements</h3>
                <p class="evenement-txt">
                    - BikeLife c'est un mode de vie, tout tourne autour de la moto pour eux. Ils manifestent un mécontentement envers une critique (de l'État ou autre) ou pour fêter quelque chose en faisant des rodéos. Beaucoup de set members ont cette mentalité et la plupart pratiquent habituellement la bécane.
                    <br>
                    <br>
                    - Les rendez-vous combat clandestin est une banale (dans des lieux abandonnées il peut avoir des événements de combats clandestin, ici le but est de faire de l'argent et non pas se battre pour le set)
                    <br>
                    <br>
                    - Les soirées et showcases Ce sont des événements où sont souvent présents des membres de set. Les lieux sont généralement des trap-house et des clubs, que ce soit la sécurité du Club ou la présence de plusieurs autres set members dans la trap-house, un gangster ne vient pas avec une arme pendant la fête.Il existe événements assez spéciaux dans un hood :
                    <br>
                    <br>
                    - HoodDay = Une journée de bonne ambiance qui peut être due à une signature de Label, mariage d'un ami, anniversaire par exemple. C'est un moment d'amusement où tout le set se réunit pour boire fumer et faire la fête.
                    <br>
                    <br>
                    - HomiesDay = Une journée de tristesse pour rendre hommage à un ami mort. L'ambiance est triste pendant toute la journée. Pas de musique joyeuse ni de comportement joyeux. À la mort d'un grand OG, une scène d'enterrement et de marche est à prévoir ! (Un set rival peut s'inviter par respect aux funérailles)
                </p>
                <img src="../assets/image/image 2.png" alt="photo us HoodDay" class="drip-us evenement">
                <img src="../assets/image/Sin_titulo-15 1.png" alt="photo us HoodDay" class="drip-us evenement">
                <img src="../assets/image/aXoi51eS3FmJCc88-image-1658086116241 1.png" alt="photo us BikeLife" class="drip-us evenement">
            </div>
        </div>
    </main>

    <footer class="footer">
        <div class="container">
         <div class="row">
           <div class="footer-col">
             <h4> Navigation </h4>
             <ul>
               <li><a href="#">Notice</a></li>
               <li><a href="#">Lexique</a></li>
               <li><a href="#">Insignes</a></li>
               <li><a href="#">Graffitis</a></li>
             </ul>
           </div>
           <div class="footer-col">
             <h4>Useful Links</h4>
             <ul>
               <li><a href="#">FAQ</a></li>
               <li><a href="#">Services</a></li>
               <li><a href="#">Contact</a></li>
             </ul>
           </div>
           <div class="footer-col">
             <h4>Legal</h4>
             <ul>
               <li><a href="#">Privacy</a></li>
               <li><a href="#">Policy</a></li>
               <li><a href="#">Terms</a></li>
             </ul>
           </div>
           <div class="footer-col">
             <h4>Contact</h4>
             <div class="social-links">
               <a href="#"><i class="fa-brands fa-discord"></i></a>
               <a href="#"><i class="fa-brands fa-github"></i></a>
               <a href="#"><i class="fa-brands fa-twitter"></i></a>
               <a href="#"><i class="fa-solid fa-envelope"></i></i></a> 
             </div>
           </div>
         </div>
        </div>
     </footer>

    <script src="https://kit.fontawesome.com/474b53fd86.js" crossorigin="anonymous"></script>
    <script src="../assets/js/script.js"></script>
</body>

</html>