<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Da Hood - Notice </title>
    <link rel="sortcut icon" href="../assets/image/icon2.png">
    <link rel="stylesheet" href="../assets/css/insignes.css">
</head>

<body>
    <header>
        <div class="header">
            <i class="fa-solid fa-bars" style="color: #d9d9d9;"></i>
            <i class="fa-solid fa-magnifying-glass glass" style="color: #d9d9d9;"></i>
        </div>

        <div class="my-side-nav">
            <i class="fa-solid fa-xmark close" style="color: #D9D9D9;"></i>
            <ul>
                <li><a href="../index.html"><i class="fa-solid fa-house house-nav" style="color: #0665FF;"></i>
                        Accueil</a></li>
                <li><a href="index-notice.html"><i class="fa-solid fa-book-open book-nav" style="color: #0665FF;"></i>
                        Notice
                    </a></li>
                <li><a href="index-notice.html"><i class="fa-solid fa-a a-nav" style="color: #0665FF;"></i>Lexique</a>
                </li>
                <li><a href="insignes.html"><i class="fa-solid fa-circle-info info-nav" style="color: #0665FF;"></i>
                        Insignes </a>
                </li>
                <li><a href="graffitis.html"><i class="fa-solid fa-spray-can spray-nav" style="color: #0665FF;"></i>
                        Graffitis </a>
                </li>
                <li><a href="#"><i class="fa-regular fa-copyright copyright-nav" style="color: #0665FF;"></i> Credits
                    </a></li>
                <li><a href="#"><i class="fa-solid fa-dice-five dice-nav" style="color: #0665FF;"></i>Page Aléatoire</a>
                </li>
                <li><a href="#"> <i class="fa-solid fa-magnifying-glass glass-nav"
                            style="color: #0665FF;"></i>Recherche</a>
                </li>
            </ul>
            <div class="language">
                <li><a href="#"><img src="../assets/image/france-flag-round-shape-free-png.webp" alt="drapeau francais"
                            class="french-flag"></a></li>
                <li><a href="#"><img src="../assets/image/united-states-flag-round-icon-american-flag-png.webp"
                            alt="drapeau usa" class="usa-flag"></a></li>
            </div>
        </div>
    </header>

    <main>
        <div class="insignes-contain">
            <h1 class="da-hood-title">Da Hood Guide</h1>
            <div class="mentalite-contain">
                <h3 class="title-section"> LES GRAFFITIS AU US </h3>
                <div class="appel-orange-contain">
                    <i class="fa-solid fa-triangle-exclamation" style="color: #C56F40;"></i>
                    <p class="appel-orange-txt">Attention : À Los Angeles, l'utilisation de signes de gangs peut être
                        dangereuse. Évitez toute imitation ou association avec ces symboles pour votre sécurité.
                        Respectez les codes de la ville pour éviter tout conflit.  </p>
                </div>
                <div class="text-insignes">
                    <p class="intro">
                        Explications de ce qu'est un gang sign : Un gang signe est une signe représentant un set/gang
                        chaque gang à le siens. Cela peut-être un hand sign ou alors un logo du gang/set tout
                        simplement. Chaque groupe en a un différent tous représentant quelque chose de fort et puissant.
                    </p>
                    <p>
                        1 - Une manière d'insulter les Bloods pendant un enchaînement de signe, faire un rond avec ses
                        doigts et rentrer son majeur dedans, ou une arme.
                    </p>
                    <img src="../assets/image/diss1.png" alt="diss-img" class="diss-img">
                    <p>
                        2 - La manière la plus commune et de pointer son majeur vers le signe de leurs ennemis, en
                        l'occurence le mec dans la photo ci-dessous disrespect les Bloods.
                    </p>
                    <img src="../assets/image/diss2.png" alt="diss-img" class="diss-img">
                    <p>
                        3 - Le signe universel de tout les Neighborhood Crips, des 40s aux 100s. Trois doigts en l'air
                        ou vers le bas. (L'index, le pouce et le majeur.) Donc les Nine Owe de New-York l'utilise
                        également.
                    </p>
                    <img src="../assets/image/diss3.png" alt="diss-img" class="diss-img">
                    <p>
                        4 - Le signe CK donc pour diss les Crips.
                    </p>
                    <img src="../assets/image/diss4.png" alt="diss-img" class="diss-img">
                    <p>
                        5 - Un 9, plusieurs gangs affiliés aux Crips l'utilisent, les R90 l'utilisent également.
                    </p>
                    <img src="../assets/image/diss5.png" alt="diss-img" class="diss-img">
                    <p>
                        6 - Signe W représentant le mot "Watts/Wvttz" des Watts Grape Street Crips
                    </p>
                    <div class="diss6">
                        <img src="../assets/image/diss6.png" alt="diss-img">
                        <img src="../assets/image/diss62.png" alt="diss-img">
                    </div>
                    <p>
                        7 - Signe Universal de Tout les Rollins de tout les USA, le doigts plié en haut de signe
                        représente le pied, le rond la roue et les deux doigts le corps d'un homme sur un fauteuil
                        roulant.
                    </p>
                    <img src="../assets/image/diss7.png" alt="diss-img" class="diss-img">
                    <p>
                        8 - Crip Sign avec le C ouvert utilisé principalement par touts les Rollins et les Watts Grape
                        Street Crips (modifié)
                    </p>
                    <img src="../assets/image/diss8.png" alt="diss-img" class="diss-img">
                    <p>
                        9 - Signe Universal de toutes les affiliations Bloods  de tout les USA (Sauf Piru's)
                    </p>
                    <img src="../assets/image/diss9.png" alt="diss-img" class="diss-img">
                    <p>
                        10 - Signe Universal de toutes les affiliations Crips  de tout les USA
                    </p>
                    <img src="../assets/image/diss10.png" alt="diss-img" class="diss-img diss10">
                </div>
            </div>
            <div class="appel-orange-contain bleu">
                <i class="fa-solid fa-circle-info" style="color: #0288D1;"></i>
                <p class="appel-orange-txt bleu">Il y a pas tous les signe de gang/set, il y en beaucoup plus. Mais sans doute dans la prochaine version du site, il y en aura plus.  </p>
            </div>
        </div>
    </main>

    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="footer-col">
                    <h4> Navigation </h4>
                    <ul>
                        <li><a href="#">Notice</a></li>
                        <li><a href="#">Lexique</a></li>
                        <li><a href="#">Insignes</a></li>
                        <li><a href="#">Graffitis</a></li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4>Useful Links</h4>
                    <ul>
                        <li><a href="#">FAQ</a></li>
                        <li><a href="#">Services</a></li>
                        <li><a href="#">Contact</a></li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4>Legal</h4>
                    <ul>
                        <li><a href="#">Privacy</a></li>
                        <li><a href="#">Policy</a></li>
                        <li><a href="#">Terms</a></li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4>Contact</h4>
                    <div class="social-links">
                        <a href="#"><i class="fa-brands fa-discord"></i></a>
                        <a href="#"><i class="fa-brands fa-github"></i></a>
                        <a href="#"><i class="fa-brands fa-twitter"></i></a>
                        <a href="#"><i class="fa-solid fa-envelope"></i></i></a>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <script src="https://kit.fontawesome.com/474b53fd86.js" crossorigin="anonymous"></script>
    <script src="../assets/js/script.js"></script>
</body>

</html>