<!DOCTYPE html>
<html lang="fr">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Da Hood - Notice </title>
  <link rel="sortcut icon" href="../assets/image/icon2.png">
  <link rel="stylesheet" href="../assets/css/style-lexique.css">
</head>

<body>
  <header>
    <div class="header">
      <i class="fa-solid fa-bars" style="color: #d9d9d9;"></i>
      <i class="fa-solid fa-magnifying-glass glass" style="color: #d9d9d9;"></i>
    </div>

    <div class="my-side-nav">
      <i class="fa-solid fa-xmark close" style="color: #D9D9D9;"></i>
      <ul>
        <li><a href="../index.html"><i class="fa-solid fa-house house-nav" style="color: #0665FF;"></i> Accueil</a></li>
        <li><a href="index-notice.html"><i class="fa-solid fa-book-open book-nav" style="color: #0665FF;"></i> Notice
          </a></li>
        <li><a href="index-notice.html"><i class="fa-solid fa-a a-nav" style="color: #0665FF;"></i>Lexique</a>
        </li>
        <li><a href="insignes.html"><i class="fa-solid fa-circle-info info-nav" style="color: #0665FF;"></i> Insignes </a>
        </li>
        <li><a href="graffitis.html"><i class="fa-solid fa-spray-can spray-nav" style="color: #0665FF;"></i> Graffitis </a>
        </li>
        <li><a href="credits.html"><i class="fa-regular fa-copyright copyright-nav" style="color: #0665FF;"></i> Credits </a></li>
        <li><a href="#" class="random"><i class="fa-solid fa-dice-five dice-nav" style="color: #0665FF;"></i>Page Aléatoire</a>
        </li>
        <li><a href="#"> <i class="fa-solid fa-magnifying-glass glass-nav" style="color: #0665FF;"></i>Recherche</a>
        </li>
      </ul>
      <div class="language">
        <li><a href="#"><img src="../assets/image/france-flag-round-shape-free-png.webp" alt="drapeau francais"
              class="french-flag"></a></li>
        <li><a href="#"><img src="../assets/image/united-states-flag-round-icon-american-flag-png.webp"
              alt="drapeau usa" class="usa-flag"></a></li>
      </div>
    </div>
  </header>

  <main>
    <div class="lexique-contain">
      <h1 class="da-hood-title">Da Hood Guide</h1>
      <div class="mentalite-contain">
        <h3 class="title-section"> LE LEXIQUE DES US </h3>
        <div class="appel-bleu-contain">
          <i class="fa-solid fa-circle-info" style="color: #0288D1;"></i>
          <p class="appel-bleu-txt">Explorez le lexique spécifique des gangs à Los Angeles, où des termes comme "banger"
            pour membre de gang, "set" pour territoire et "strapped" pour armé sont souvent utilisés dans leur jargon
            distinctif. Plongez dans cet univers linguistique unique qui caractérise la culture des gangs dans la
            ville.  </p>
        </div>
        <p class="lexique">
          <span>Squabble</span> : C'est tout simplement une bagarre, si vous avez un problème à régler avec un autre
          membre ou approchant vous réglez ça en 1v1 dans un endroit tranquille. Ça commence avec une accolade rapide,
          voire la vidéo ci-dessous. (en l'occurrence ce sont deux individus de gangs rivaux qui se battent).
          <br>
          <br>
          <span>Hood Hopper</span> : Terme péjoratif pour designer quelqu'un qui a changé de gang.
          <br>
          <br>
          <span>Flipside</span> : C'est le fait de changer de gang, c'est quelque chose qui arrive souvent a new york
          comparé a Los Angeles.
          <br>
          <br>
          <span>Put-on</span> : Initiation pour intégrer un gang
          <br>
          <br>
          <span>Put-off</span> : bannissement d'un membre d'un gang du quartier
          <br>
          <br>
          Lacking : Se faire prendre en manque signifie se faire prendre tout seul, normalement sans arme.
          <br>
          <br>
          Whip : Voiture.
          <br>
          <br>
          Lick : Une source d'argent, le plus souvent en référence à un cambriolage ou un vol. 'On va se faire une
          pige'.
          <br>
          <br>
          Opps (Opposition) : Désignant les ennemis à son set.
          <br>
          <br>
          Slide : Bouger (se déplacer).
          <br>
          <br>
          <span>Squabble</span> : Bagarre en 1vs1. Cela peut concerné deux simples civils comme deux mecs du même set ou de sets
          ennemis.
          <br>
          <br>
          Blunt : Joint.
          <br>
          <br>
          Homie : Mec de son quartier.
          <br>
          <br>
          Goon : Terme désignant un soldat de son set, un mec h24 dans son set.
          <br>
          <br>
          Block/Hood/Set — Désignant un quartier.
          <br>
          <br>
          Pull Up : Débarquer dans un hood pour sauter un ennemi (avec arme ou non) ou attraper.
          <br>
          <br>
          Glock/Nine : Une arme à feu.
          <br>
          <br>
          Cops/Crash : Désignant la police.
          <br>
          <br>
          <span>Lackin</span> : Ne pas être armé, être en manque d'arme (Exemple : Renoi c'est chaud j'suis Lackin à VineWood).
          <br>
          <br>
          No Lackin : Être armé, manque pas d'arme sur sois (Exemple : No Lackin mon boy, dit leur de venir que je m'en
          occupe !!).
          <br>
          <br>
          CUZZ : Désignant un ami proche (Cousin).
          <br>
          <br>
          Blood : mot avec lequel s'appelle les set Bloods entre eux.
          <br>
          <br>
          Beef : Clash, embrouille ou désaccord avec quelqu'un ou une autre équipe.
          <br>
          <br>
          Fucked Up : Être défoncer sous drogue.
          <br>
          <br>
          Cracker : Désignant un blanc de manière péjoratif.
          <br>
          <br>
          Huslters : Débrouillard dans la rue.
          <br>
          <br>
          Tweakin : Être perdu, dire n'importe quoi.
          <br>
          <br>
          Junky : Client de drogues douces.
          <br>
          <br>
          Crackhead : Client de drogues dures.*
          <br>
          <br>
          Goofy Ass/Dumb : Terme désignant à insulter une personne stupide.
          <br>
          <br>
          Slag/Hoe : Pute/Salope.
          <br>
          <br>
          Bodies : Un ou des meurtres.
          <br>
          <br>
          Krab : Crip dissident. Slobs : Dissidence Bloods.
          <br>
          <br>
          Tramps : Dissertation de Gangster Crip.
          <br>
          <br>
          Maggots/Milkshakes/Mini Skirts : Dissidence Mafia Crip.
          <br>
          <br>
          Busters : Dissertation de Hustler Crip (c'est-à-dire Slauson Ave Hustler Crip).
          <br>
          <br>
          Huggies : Hustler Crip dissident. Snoovers/Snoochies/Hoochie > Coochies/
          <br>
          <br>
          Hot Cereal : Hoover Crip diss.
          <br>
          <br>
          Nappyheads/Napps : dissension de Neighborhood Crip.
          <br>
          <br>
          Twinkies : Rollin 20s NHB diss.
          <br>
          <br>
          Débardeurs : Tree Top Piru dissident.
          <br>
          <br>
          Rickets : Un autre terme péjoratif pour les Crips. "Regardez-les, c'est du rachitisme, du sang.
          <br>
          <br>
          Faketeens : Une dissertation dirigée vers les membres du gang de la 18ème rue.
          <br>
          <br>
          Fakestreets : Dissertation dirigée vers Grape Street.
          <br>
          <br>
          Barlems : Une dissertation dirigée vers R30s Harlem Crip.
          <br>
          <br>
          Gaymarks/Rice Crispies/Raymarks : Dissertation sur Raymond Avenue Crip.
          <br>
          <br>
          Cheese Toast(ie)s : Dissolution du Crip de la Côte Est.
          <br>
          <br>
          Flowers/Fagencia/Chorrenzia : Florencia 13 diss.
          <br>
          <br>
          Blues : Un autre nom pour les Crips, mais pas aussi péjoratif.
          <br>
          <br>
          <span>cK</span> : Crip Killer.
          <br>
          <br>
          <span>bK</span> : Blood Killer.
          <br>
          <br>
          <span>pK</span> : Piru Killer.
          <br>
          <br>

        </p>
      </div>
    </div>
  </main>

  <footer class="footer">
    <div class="container">
      <div class="row">
        <div class="footer-col">
          <h4> Navigation </h4>
          <ul>
            <li><a href="#">Notice</a></li>
            <li><a href="#">Lexique</a></li>
            <li><a href="#">Insignes</a></li>
            <li><a href="#">Graffitis</a></li>
          </ul>
        </div>
        <div class="footer-col">
          <h4>Useful Links</h4>
          <ul>
            <li><a href="#">FAQ</a></li>
            <li><a href="#">Services</a></li>
            <li><a href="#">Contact</a></li>
          </ul>
        </div>
        <div class="footer-col">
          <h4>Legal</h4>
          <ul>
            <li><a href="#">Privacy</a></li>
            <li><a href="#">Policy</a></li>
            <li><a href="#">Terms</a></li>
          </ul>
        </div>
        <div class="footer-col">
          <h4>Contact</h4>
          <div class="social-links">
            <a href="#"><i class="fa-brands fa-discord"></i></a>
            <a href="#"><i class="fa-brands fa-github"></i></a>
            <a href="#"><i class="fa-brands fa-twitter"></i></a>
            <a href="#"><i class="fa-solid fa-envelope"></i></i></a>
          </div>
        </div>
      </div>
    </div>
  </footer>

  <script src="https://kit.fontawesome.com/474b53fd86.js" crossorigin="anonymous"></script>
  <script src="../assets/js/script-views.js"></script>
</body>

</html>