<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Da Hood - Credits </title>
    <link rel="sortcut icon" href="../assets/image/icon2.png">
    <link rel="stylesheet" href="../assets/css/style-new.css">
</head>

<body>
    <header>
        <div class="header">
            <i class="fa-solid fa-bars" style="color: #d9d9d9;"></i>
            <i class="fa-solid fa-magnifying-glass glass" style="color: #d9d9d9;"></i>
        </div>

        <div class="my-side-nav">
            <i class="fa-solid fa-xmark close" style="color: #D9D9D9;"></i>
            <ul>
                <li><a href="../index.html"><i class="fa-solid fa-house house-nav" style="color: #0665FF;"></i>
                        Accueil</a></li>
                <li><a href="index-notice.html"><i class="fa-solid fa-book-open book-nav" style="color: #0665FF;"></i>
                        Notice
                    </a></li>
                <li><a href="index-notice.html"><i class="fa-solid fa-a a-nav" style="color: #0665FF;"></i>Lexique</a>
                </li>
                <li><a href="insignes.html"><i class="fa-solid fa-circle-info info-nav" style="color: #0665FF;"></i>
                        Insignes </a>
                </li>
                <li><a href="graffitis.html"><i class="fa-solid fa-spray-can spray-nav" style="color: #0665FF;"></i>
                        Graffitis </a>
                </li>
                <li><a href="credits.html"><i class="fa-regular fa-copyright copyright-nav" style="color: #0665FF;"></i>
                        Credits
                    </a></li>
                <li><a href="#" class="random"><i class="fa-solid fa-dice-five dice-nav"
                            style="color: #0665FF;"></i>Page Aléatoire</a>
                </li>
                <li><a href="#"> <i class="fa-solid fa-magnifying-glass glass-nav"
                            style="color: #0665FF;"></i>Recherche</a>
                </li>
            </ul>
            <div class="language">
                <li><a href="#"><img src="../assets/image/france-flag-round-shape-free-png.webp" alt="drapeau francais"
                            class="french-flag"></a></li>
                <li><a href="#"><img src="../assets/image/united-states-flag-round-icon-american-flag-png.webp"
                            alt="drapeau usa" class="usa-flag"></a></li>
            </div>
        </div>
    </header>

    <main>
        <div class="credits-contain">
            <h1 class="da-hood-title">Da Hood Guide</h1>
            <div class="titre-contain">
                <h3 class="title-section"> IDÉES MÀJ V1.1 </h3>
                <div class="text-credits">
                    <p>
                        Toutes informations de sortie de la version 1.1, et information d'ajout de fonctionnalitées seront communiquée sur notre discord.
                    </p>
                    <hr>
                    <p>
                        • Pouvoir rechercher plus de choses sur le site comme par exemple précisément des noms de
                        casquettes afin de se renseigner dessus... Ou bien rechercher des sets en particulier et de
                        ressortir le plus d'informations possible.
                        <br>
                        <br>
                        • Plus de catégories, une catégorie pour chaque set avec plus d'informations précises sur elles,
                        comme leur histoire, leur cap, leurs insignes, des multimédia ect.
                        <br>
                        <br>
                        • Une catégorie sur les emplacements exact sur le plus de sets possible.
                        <br>
                        <br>
                        • Faire un système de compte, ensuite créer un forum ou les visiteurs du site pourront discuter
                        ensemble, s'échanger des informations en lien avec les gangs de Los Angeles ect (cette
                        fonctionnalités n'est pas dutout prete, elle sera peut etre présente dans d'autre mise a jour).
                        <br>
                        <br>
                        • Pouvoir traduire l'intégralité du site en Anglais (pour l'instant).
                    </p>
                </div>
                <div class="appel-bleu-contain">
                    <i class="fa-solid fa-circle-info" style="color: #0288D1;"></i>
                    <p class="appel-bleu-txt">Ces informations sont des idées, ne vous attendez pas avoir toutes les
                        fonctionnalitées dans les mises a jours futurs ! (Ce sont des possibilitées)  </p>
                </div>
            </div>
        </div>
    </main>

    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="footer-col">
                    <h4> Navigation </h4>
                    <ul>
                        <li><a href="index-notice.html">Accueil</a></li>
                        <li><a href="index-notice.html">Notice</a></li>
                        <li><a href="lexique.html">Lexique</a></li>
                        <li><a href="insignes.html">Insignes</a></li>
                        <li><a href="graffitis.html">Graffitis</a></li>
                        <li><a href="credits.html">Credits</a></li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4>Useful Links</h4>
                    <ul>
                        <li><a href="#">FAQ</a></li>
                        <li><a href="#">Services</a></li>
                        <li><a href="#">Contact</a></li>
                        <li><a href="https://twitter.com/lacity?lang=fr">LA Twitter</a></li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4>Extras</h4>
                    <ul>
                        <li>
                            <p>Plus d'informations, sur notre discord (plateforme principal de contact de notre site).
                            </p>
                        </li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4>Contact</h4>
                    <div class="social-links">
                        <a href="https://discord.gg/7wxGtrRep7"><i class="fa-brands fa-discord"></i></a>
                        <a href="mailto:dahoodguide.pro@gmail.com?subject=Sujet%20de%20votre%20mail&body=Corps%20de%20votre%20mail
                        "><i class="fa-solid fa-envelope"></i></i></a>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <script src="https://kit.fontawesome.com/474b53fd86.js" crossorigin="anonymous"></script>
    <script src="../assets/js/script-views.js"></script>
</body>

</html>