@import url('https://fonts.googleapis.com/css2?family=Tiro+Bangla:ital@0;1&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&family=Trade+Winds&display=swap');

* {
    scroll-behavior: smooth;
    padding: 0;
}


body {
    font-family: "Tiro Bangla", serif;
    background-color: rgb(23, 18, 54);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#my-video {
    position: absolute;
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
    z-index: -1;
    filter: opacity(15%);
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.glass {
    right: 50px;
}

.fa-bars {
    left: 50px;
}

.fa-bars, .glass {
    position: fixed;
    padding: 15px;
    margin-bottom: 10px;
    background-color: rgb(217, 217, 217, 0.10);
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    font-size: 30px;
    cursor: pointer;
}

.da-hood-title {
    font-family: "Trade Winds", system-ui;
    color: #D9D9D9;
    font-size: 60px;
    text-decoration: underline;
    text-underline-offset: 15px;
    text-decoration-thickness: 2px;
    text-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;;
    font-weight: 100;
}

.decouvrir {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.container-angle-up {
    display: flex;
    justify-content: center;
    align-items: center;
}

.fa-angle-up {
    font-size: 30px;
    padding-top: 400px;
}

.decouvrir-container {
    text-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    margin-top: 250px;
}

.desc-container p {
    color: #D9D9D9;
    width: 80%;
}

.desc-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top : 30px;
    font-size: 25px;
    text-align: center;
    text-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.part {
    background-color: hsl(217, 100%, 51%, 0.10);
    width: 300px;
    text-align: center;
    margin-right: 20px;
    margin-left: 20px;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    padding: 20px;
    height: 300px;
}

.title {
    font-family: "Titillium Web", sans-serif;
    color: #D9D9D9;
    font-weight: 600;
    font-size: 50px;
    text-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    margin-top: -110px; 
    margin-bottom: 55px;

}

.container-main {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 190px;
}

.part p {
    color: #D9D9D9;
    font-size: 18px;
    margin-top: -20px;
}

.contain-notice {
    height: 500px;
    background-color: #0665FF;
}

.contain-lexique, .contain-insigne {
    height: 400px;
}

.check {
    text-decoration: none;
    text-transform: uppercase;
    font-family: "Titillium Web", sans-serif;
    font-weight: 700;
    font-size: 40px;
    background-color: #D9D9D9;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;;
    padding: 10px 80px;
    border-radius: 15px;
    transition: all 0.5s ease;
}

.check:hover {
    box-shadow: rgba(0, 0, 0, 0.4) 0px 8px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -5px 0px inset;
}

.not {
    color: #0665FF;
}

.ins, .lex {
    color: #1D2261; 
}

.contain-notice p {
    font-size: 20px;
}

.notice-txt {
    padding-bottom: 65px;
}

.lexique-txt, .insigne-txt {
    padding-bottom: 50px;
}

.info, .book, .a {
    position: relative;
    font-size: 100px;
    bottom: 70px;
    text-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    padding-bottom: 50px;
}

.book {
    font-size: 120px;
}

.my-side-nav {
    height: 100%;
    width: 350px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: -400px;
    background-color: #1D2261;
    padding-top: 100px;
    transition: left 0.5s ease;
}

.my-side-nav a {
    color:#D9D9D9;
    text-decoration: none;
    padding: 8px 8px 8px 32px;
    font-size: 30px;
    display: block;
    transition: 0.3s;
    font-family: "Titillium Web", sans-serif;
    text-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    padding-bottom: 30px;
}

.my-side-nav a:hover {
    color: #0665FF;
    padding-left: 16px;
}

.my-side-nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.close {
    position: absolute;
    top: 0;
    font-size: 50px;
    left: 30px;
    text-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    padding-bottom: 30px;
    cursor: pointer;
    padding-top: 20px;
}

.my-side-nav.active {
    left: 0;
}

.my-side-nav i {
    padding-right: 20px;
}

.glass-nav {
    padding-top: 100px;
}

.contact-card {
    background-color: #D9D9D9;
    padding: 20px;
    border: 5px solid #00000021;
    border-radius: 25px;
    margin-bottom: 56px;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.name-contact {
    font-family: "Titillium Web", sans-serif;
    font-size: 35px;
    margin: 0;
}

.a-cote {
    display: flex;
    align-items: center;

    h3, i {
        margin-right: 16px;
    }
}

.job {
    padding: 1px 80px;
    border: 1px solid #000000;
    font-size: 20px;
}

.fa-user {
    float: left;
    font-size: 130px;
    padding-right: 20px;
    text-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.fa-address-card {
    font-size: 30px;
}

.txt-contact {
    font-size: 23px;
    margin: 0;
}

.maj {
    width: 700px;
    text-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;;
}

.title-maj {
    font-family: "Titillium Web", sans-serif;
    font-size: 30px;
    font-weight: 600;
}

.idees-maj {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 30px;
}

.new-maj {
    font-family: "Titillium Web", sans-serif;
    background-color: #FFE484;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    display: inline;
    color: #000000;
    font-weight: 700;
    padding: 5px;
    border-radius: 7px;
    font-size: 20px;
}

.txt-maj {
    color: #D9D9D9;
    font-size: 22px;
    padding-left: 20px;
    font-family: "Titillium Web", sans-serif;
    text-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.container{
  max-width: 1000px;
  margin:auto;
}

.row{
  display: flex;
  flex-wrap: wrap;
}

ul{
  list-style: none;
}

.footer{
    background-color: hsl(217, 100%, 51%, 0.10);;
    padding: 70px 0;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    position: relative;
    top: 150px;
}

.footer-col{
   width: 25%;
   padding: 0 15px;
}

.footer-col h4{
  font-size: 18px;
  color: #D9D9D9;
  text-transform: capitalize;
  margin-bottom: 35px;
  font-weight: 500;
  position: relative;
  font-family: "Titillium Web", sans-serif;
}

.footer-col h4::before{
  content: '';
  position: absolute;
  left:0;
  bottom: -10px;
  background-color: rgb(255, 255, 255);;
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}

.footer-col ul li:not(:last-child){
  margin-bottom: 10px;
}

.footer-col ul li a{
  font-size: 16px;
  text-transform: capitalize;
  color: #ffffff;
  text-decoration: none;
  font-weight: 300;
  color: #bbbbbb;
  display: block;
  transition: all 0.3s ease;
  font-family: "Titillium Web", sans-serif;
}

.footer-col ul li a:hover{
  color: #ffffff;
  padding-left: 8px;
  text-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.footer-col .social-links a{
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgba(255,255,255,0.2);
  margin:0 10px 10px 0;
  text-align: center;
  line-height: 45px;
  border-radius: 50%;
  color: #ffffff;
  transition: all 0.5s ease;
}

.footer-col .social-links a:hover{
  color: #24262b;
  background-color: #ffffff;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

/*responsive*/
@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}
